.card{
    position: relative;
    min-width: 100vw;
}
.card::before {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at center, transparent 10%, var(--bg-color-2) 98%), linear-gradient(transparent 40%, var(--bg-color-2));
}

.card__figure {
    position: relative;
}

.card__img {
    width: 100%;
    max-height: 90dvh;
    aspect-ratio: 16/10;
    object-fit: cover;
    object-position: top;
}

.card__figcaption {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    z-index: 2;
}

.card__title {
    font-size: 2rem;
    margin-bottom: 10px;
}

.card__list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    margin-bottom: 15px;
    font-size: .9rem;
    color: var(--text-color-2);
    list-style: none;
    font-weight: bold;
}

.card__overview {
    font-size: 1rem;
    max-width: 600px;
    color: var(--text-color-2);
    margin-bottom: 15px;
    opacity: 0.8;
}

.card__link {
    background-color: var(--bg-color-4);
    color: var(--text-color-1);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: all .3s;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;

    i {
        transform: translateY(2px);
    }

    &:hover {
        color: var(--main-base-color);
    }

}

@media (max-width:850px){
    .card__overview{
        display: none;
    }
}

@media (max-width:600px){
    .card__title{
        font-size: 6vw;
    }
    .card__img{
        aspect-ratio: 1/1;
    }
}