.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.spinner{
    border: 8px solid var(--main-base-color);
    border-top: 8px solid var(--bg-color-1);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}