.notfound{
    padding-top: 83px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100dvh - 141px);
    gap: 20px;

    h1{
        font-size: 8rem;
    }

    p{
        font-size: 2rem;
    }

    a{
        text-decoration: none;
        padding: 20px;
        background-color: var(--main-base-color);
        border-radius: 5px;
        color: var(--text-color-4);
        font-weight: bold;
        font-size: 1.1rem;
    }
}