.header {
    padding: 20px 0;
    position: absolute;
    z-index: 20;
    width: 100%;
    top: 0;
}

.header__container {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header__logo {

    font-size: 1.5rem;

    a {
        text-decoration: none;
        color: #fff;

        i {
            color: var(--main-base-color);
        }

        span {
            font-weight: 400;
        }
    }
}

.header__nav {
    display: flex;
    gap: 30px;

    a {
        text-decoration: none;
        color: var(--text-color-1);
        font-weight: bold;
        letter-spacing: 1.5px;
        font-size: 1.1rem;
        transition: all 0.3s ease;

        &:hover {
            color: var(--main-base-color);
        }
    }
}



.checkbox__hamburger {
    display: none;
}

.label__hamburger {
    cursor: pointer;
    display: none;
    flex-direction: column;
    gap: 8px;

    span {
        transition: all 0.3s;
        display: inline-block;
        width: 40px;
        height: 2px;
        background-color: #fff;
    }
}

.checkbox__hamburger:checked+.label__hamburger {
    span:nth-child(1) {
        transform: rotate(45deg) translateY(14px);
    }

    span:nth-child(2) {
        opacity: 0;
    }

    span:nth-child(3) {
        transform: rotate(-45deg) translateY(-14px);
    }
}

@media (max-width:1130px) {
    .label__hamburger {
        display: flex;
    }

    .header__nav {
        position: absolute;
        flex-direction: column;
        top: 50px;
        left: 10px;
        background-color: var(--bg-color-2);
        border: 1px solid var(--border-color-1);
        width: min(300px, 100%);
        padding: 10px;
        border-radius: 5px;
        transform: scale(0, 0);
        pointer-events: none;
        transition: transform 0.5s ease;
        transform-origin: 0 0;

        a {
            border-bottom: 1px solid var(--border-color-1);
        }
    }

    .checkbox__hamburger:checked~.header__nav {
        transform: scale(1, 1);
        pointer-events: all;
    }

    .header__logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


.header__movieDrop,
.header__tvDrop {
    display: none;
}

.header__movieDrop:checked+.header__category,
.header__tvDrop:checked+.header__category {
    i {
        transform: rotate(90deg);
    }
}

.header__movieDrop:checked~.header__list,
.header__tvDrop:checked~.header__list {
    transform: scale(1, 1);
    pointer-events: all;
}

.header__category {
    position: relative;
    cursor: pointer;
    color: var(--text-color-1);
    font-weight: bold;
    letter-spacing: 1.5px;
    font-size: 1.1rem;
    transition: all 0.3s ease;

    i {
        transition: all 0.3s ease;
    }

    &:hover {
        color: var(--main-base-color);
    }
}

.header__list {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid var(--border-color-1);
    border-radius: 5px;
    background-color: var(--bg-color-2);
    padding: 15px;
    list-style: none;
    transform: scale(0, 0);
    transition: all 0.3s ease;
    transform-origin: 10% 0;
    pointer-events: none;
    z-index: 10;
    li {
        border-bottom: 1px solid var(--border-color-1);
    }
}