
.header__search {
    display: flex;
    width: min(350px, 100%);
    padding: 0 8px;
    border: 1px solid var(--border-color-1);
    border-radius: 25px;
    background-color: var(--bg-color-3);
}

.header__searchInput {
    width: 100%;
    height: 40px;
    color: var(--text-color-1);
    background: none;
    border: none;
    font-size: 1.1rem;

    &:focus {
        outline: none;
    }
}

.header__searchBtn,
.label__search {
    height: 38px;
    width: 38px;
    border-radius: 100%;
    border: none;
    background: none;
    color: var(--text-color-1);
    font-size: 1.2rem;
}



.checkbox__search,
.label__search {
    display: none;
}


@media(max-width:945px) {
    .label__search {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--main-base-color);
        border-radius: 5px;
    }

    .header__search {
        position: absolute;
        right: 10px;
        top: 50px;
        transform: scale(0, 0);
        pointer-events: none;
        transition: transform 0.5s ease;
        transform-origin: 100% 0;
    }

    .checkbox__search:checked~.header__search {
        transform: scale(1, 1);
        pointer-events: all;
    }
}