.carousel {
    position: relative;
}

.carousel__container {
    display: flex;
    width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.carousel__container>* {
    scroll-snap-align: start;
}

.carousel__container::-webkit-scrollbar {
    display: none;
}

.carousel__btnSlider {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: color;
    color: var(--main-base-color);
    font-size: 2.5rem;
    border: 1px solid var(--main-base-color);
    border-radius: 100%;
    cursor: pointer;
    height: 35px;
    width: 35px;
    position: absolute;
    transform: translateY(-100%);
    opacity: 0.7;
    transition: opacity 0.3s ease;

    &:hover,
    &:focus{
        opacity: 1;
    }
}

.btn__left {
    z-index: 10;
    top: 40%;
    left: 20px;
}

.btn__right {
    z-index: 10;
    top: 40%;
    right: 20px;
}